{% extends "DeliveryTestBundle::layout.html.twig" %}
{% block title %}
    Editar USR
{% endblock %}
{% block body %}
    <span class="title">Actualizar de Usuarios</span>
    <form id="form_usuarios" method="post" class="form-horizontal" role="form" action="{{path('usuario_actualizar', {'id':id})}}">
        <div class="form-group">
            <label for="email">Email
                <input id="email" value="{{email}}" name="email" type="email" required /> 
            </label>
            <label for="usuario">Usuario
                <input id="usuario" value="{{usuario}}" name="usuario" type="text" required /> 
            </label>
            <label for="telefono">Telefono
                <input id="telefono" value="{{telefono}}" name="telefono" type="number" required /> 
            </label>
        </div>
        <input type="submit" class="btn btn-info" value="Guardar">
        <a href="{{path('usuario_perfil', {'id':app.user.id})}}" class="btn btn-danger" role="button">Cancelar</a>
    </form>

{% endblock %}