{% extends "DeliveryTestBundle::layout.html.twig" %}
{% block title %}
    Admini USR
{% endblock %}

{% block styles %}
    <link href="{{ asset('bundles/deliverytest/upload-file/css/uploadfile.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <div id="controles">
            <h3> Crear Usuarios</h3>
            <div>
                <a href="{{path('admin_crear')}}" class="btn btn-info" role="button">Crear Usuario</a>
            </div>
            <h3>Exportar</h3>
            <div>
                <a href="{{path('admin_exportar', {'type':'csv'})}}" class="btn btn-success" role="button">CSV</a>
                <a href="{{path('admin_exportar', {'type':'xls'})}}" class="btn btn-success" role="button">XLS</a>
                <a href="{{path('admin_exportar', {'type':'xlsx'})}}" class="btn btn-success" role="button">XLSX</a>
                <a href="{{path('admin_exportar', {'type':'tsv'})}}" class="btn btn-success" role="button">TSV</a>
            </div>
            <h3>Importar</h3>
            <div>
                <div><label> Cargar Archivo:</label></div>
                <div id="fileuploader">Cargar</div>
                <a href="{{path('admin_home')}}" class="btn btn-info" role="button">Recagar</a>
                <div id="respuesta">
                </div>
            </div>
        </div>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    email
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Roles
                </th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>
                        Editar
                    </th>
                    <th>
                        Borrar
                    </th>
                {% endif %}
            </tr>
            </tr>
        </thead>
        <tbody>
            {% for key, usuario in usuarios %}
                <tr>
                    <td>
                        {{usuario.id}}
                    </td>
                    <td>
                        {{usuario.username}}
                    </td>
                    <td>
                        {{usuario.email}}
                    </td>
                    <td>
                        {{usuario.numberPhone}}
                    </td>
                    <td>
                        {% for rol in usuarios[key].roles %}
                            {{rol}} </br>
                        {% endfor %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{path('admin_editar', {'id':usuario.id})}}" class="btn btn-warning" role="button">Editar</a>
                        </td>
                        <td>
                            <a href="{{path('admin_borrar', {'id':usuario.id})}}" class="btn btn-danger" role="button">Borrar</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('bundles/deliverytest/upload-file/js/jquery.uploadfile.min.js') }}"></script>
    <script src="{{ asset('bundles/deliverytest/js/admin.js') }}"></script>
{%endblock%}